body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.menu {
    display: flex;
    width: 100%;
    z-index: 10;
    height: 80px;
    background-color: #ffffff;
    position: fixed;
    padding-bottom: 15px;  
    justify-content: flex-end; 
}
a {
    text-decoration: none;
}
.menu li {
    border:2px solid black;
    display: inline-block;
    background-color: aquamarine;
    margin: 15px;
    font-size: 15px;
    border-radius: 50px;
    padding: 10px 10px;
}
.menu li:hover{
    background-color: gray;
}
.header {
    position: relative;
    background-attachment: fixed;
    background-image: url(https://www.cuasotinhyeu.vn/sites/default/files/album/2015/08/10/anh-thien-nhien-1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}
.avatar{
    margin:5px auto;
    width: 150px;
    height: 150px;
    background-image: url("https://taimienphi.vn/tmp/cf/aut/cZ1E-anh-avatar-dep-2.jpg");
    background-size: cover;
    border: 2px solid black;
    border-radius: 50%;
    z-index: 100;
}
.about {
    text-align: center;
    max-width: 70%;
    margin: 0px auto;
}
.about h1 {
    font-weight: 700;
    color: #777777;
    margin-bottom: 40px;
}
p {
    font-weight: 450;
    font-size: 20px;
    color: #777777;
}
.bottom {
    display: flex;
    width: 100%;
}
.left {
    width: 50%;
    padding: 20px;
}
.bottom img {
    max-width: 80%;
}
.right {
    width: 50%;
    padding: 20px;
}
.footer {
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 1px;
    font-size: 50px;
}
.footer b{
    font-size: 30px;
}
.footer span {
    color:chocolate;
}
